footer
  .contact
    a.item(href='https://space.bilibili.com/589395878')
      i.iconfont.icon-bilibili-fill
      .name='哔哩哔哩'
    a.item(href='/tiktok/')
      i.iconfont.icon-douyin
      .name='抖音'
    a.item(href='https://weibo.com/p/1005057649961191')
      i.iconfont.icon-weibo
      .name='微博'
    a.item(href='mailto:cupixel@outlook.com')
      i.iconfont.icon-email
      .name='邮箱'
  .info
    .item
      ='Copyright © 2021 - '
      span.now#now-year='2022'
      =' 汕头市第二中学 Cupixel 影视创作社'
    .item
      ='总访问量：'
      span#busuanzi_value_site_pv
      =' 总访客数：'
      span#busuanzi_value_site_uv